<% unless comment.new_record? %>
  <tr id="comment-<%= comment.id %>">
    <td>
      <table>
        <tr>
          <strong><%= comment.anonymous? ? "Someone anonymous" : comment.submitter.name %></strong> replied:
        </tr>
        <tr>
          <td>
            &ldquo;<%= comment.message %>&rdquo;
          </td>
        </tr>
      </table>
    <td><%= comment.created_at.strftime "%m/%d/%Y %I:%M%p" %></td>
    <!--<td><%#= link_to 'Edit', edit_appreciation_path(appreciation) %></td>-->

    <% if current_user.admin? %>
      <td><%= link_to 'Hide', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
    <% end %>
  </tr>
<% end %>
