<%= render 'shared/recipient_autocomplete', :prefix => 'feedback' %>
<%= form_for(@feedback) do |f| %>
  <%= render :partial => '/shared/error_messages', :locals => { :message => @feedback } %>

  <div class="field">
    <%= f.label :feedback, "I have private feedback for" %>
    <%= f.hidden_field :recipient_id %>
    <%= text_field_tag :'recipient_id-autocomplete', '', :id => 'feedback_recipient_id-autocomplete',
                       :autofocus => true, :value => @recipient_name %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :team, "(on team/project" %>
    <%= f.text_field :team %>
    <strong>)</strong>

  </div>

  <div class="field">
    <%= f.label :message, "My feedback is:" %><br />
    <%= f.text_area :message, :placeholder => "helpful, constructive feedback. Give an example.",
                    :class => 'message' %>
  </div>

  <%= render :partial => 'shared/anonymous_checkbox', :locals => { :f => f, :checked => false } %>

  <a href="<%= new_user_url %>" tabindex="-1">Add someone new</a>
  <br />
  <br />

  <div class="actions">
    <%= f.submit "Give Feedback", :class => 'button button--primary' %>
  </div>
<% end %>
