<section class="card">
  <p>
    <strong><%= @feedback.anonymous? ? "Someone anonymous" : @feedback.submitter.name %></strong> gave
    <strong><%= @feedback.recipient.name %></strong>
    <%= @feedback.team.present? ? "on team/project <strong>#{@feedback.team}</strong>".html_safe : "" %>
    this feedback:
  </p>
  <p>
    <strong>&ldquo;<%= @feedback.message %>&rdquo;</strong>
  </p>

  <br />

  <%= render :partial => '/comments/comments', :locals => { :message => @feedback } %>

  <br />
  <%= render :partial => '/shared/pay_it_forward' %>

  <%= render :partial => '/shared/received_at', :locals => { :message => @feedback } %>

  <%#= link_to 'Edit', edit_appreciation_path(@feedback) %>
  <%= link_to 'Home', appreciations_path %>
</section>
